<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <bean id = "synNote" class="com.warmmer.SynNote">
    	<property name="javaBean" >
    		<ref bean = "javaBean"/>
    	</property>
    </bean>
    <bean id="javaBean" class = "com.warmmer.JavaBean"></bean>
 </beans>